<header>
  <!-- banner -->
</header>
<main>
  <!-- destaques -->
  <section>
    <div>
      <!-- carrossel -->
    </div>
  </section>

  <!-- todos os apps -->
  <section>
    <div>
      <!-- pesquisar -->
    </div>
    <div>
      <!-- resultado pesquisa -->
    </div>
  </section>

  <!-- depoimentos -->
  <section>
    <div>
      <!-- carrossel -->
    </div>
  </section>

  <!-- contato -->
  <section>
    <div>
      <!-- formulário -->
    </div>
  </section>
</main>
