<header>
  <!-- banner -->
  <div class="banner">
    <img
      src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=1200&txt_altura=600&extensao=png&fundo_r=0.6417111307382584&fundo_g=0.6646728515625&fundo_b=0.6637080733766074&texto_r=0&texto_g=0&texto_b=0&texto=&tamanho_fonte=10"
      alt=""
    />
  </div>
</header>
<main>
  <!-- destaques -->
  <section id="destaques">
    <h2 class="text-center">Destaques</h2>
    <div class="banner">
      <!-- carrossel -->
      <img
        class="text-center"
        src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=1366&txt_altura=600&extensao=png&fundo_r=0.07849587500095367&fundo_g=0.8677978515625&fundo_b=0.7781920363522659&texto_r=0&texto_g=0&texto_b=0&texto=&tamanho_fonte=10"
        alt=""
      />
    </div>
  </section>

  <!-- todos os apps -->
  <section id="projetos">
    <div>
      <h2 class="text-center">Todos os Projetos</h2>
      <!-- pesquisar -->
      <div class="formulario">
        <label class="label-form">Busque aqui o projeto</label>
        <input
          class="input-form"
          type="text"
          name="pesquisa_app"
          id="pesquisa-app"
          minlength="1"
        />
      </div>
    </div>
    <div>
      <!-- resultado pesquisa -->
      <div class="resultados">
        <div>
          <img
            src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=500&txt_altura=500&extensao=png&fundo_r=0.5423421175546537&fundo_g=0.2775353342294693&fundo_b=0.7388916015625&texto_r=0&texto_g=0&texto_b=0&texto=&tamanho_fonte=10"
            alt=""
          />
        </div>
        <div>
          <img
            src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=500&txt_altura=500&extensao=png&fundo_r=0.5423421175546537&fundo_g=0.2775353342294693&fundo_b=0.7388916015625&texto_r=0&texto_g=0&texto_b=0&texto=&tamanho_fonte=10"
            alt=""
          />
        </div>
        <div>
          <img
            src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=500&txt_altura=500&extensao=png&fundo_r=0.5423421175546537&fundo_g=0.2775353342294693&fundo_b=0.7388916015625&texto_r=0&texto_g=0&texto_b=0&texto=&tamanho_fonte=10"
            alt=""
          />
        </div>
        <div>
          <img
            src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=500&txt_altura=500&extensao=png&fundo_r=0.5423421175546537&fundo_g=0.2775353342294693&fundo_b=0.7388916015625&texto_r=0&texto_g=0&texto_b=0&texto=&tamanho_fonte=10"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- depoimentos -->
  <section id="depoimentos">
    <h2 class="text-center">Depoimentos</h2>
    <div>
      <!-- carrossel -->
      <img
        class="text-center"
        src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=1366&txt_altura=600&extensao=png&fundo_r=0.07849587500095367&fundo_g=0.8677978515625&fundo_b=0.7781920363522659&texto_r=0&texto_g=0&texto_b=0&texto=&tamanho_fonte=10"
        alt=""
      />
    </div>
  </section>

  <!-- contato -->
  <section>
    <h2 class="text-center">Contato</h2>
    <div class="form-contato text-center">
      <!-- formulário -->
      <div class="form-item">
        <label for="nome-contato">Nome</label>
        <input
          class="input-form"
          type="text"
          name="nome_contato"
          id="nome-contato"
          minlength="1"
        />
      </div>
      <div class="form-item">
        <label for="email-contato">E-mail</label>
        <input
          class="input-form"
          type="email"
          name="email_contato"
          id="email-contato"
          minlength="1"
        />
      </div>
      <div class="form-item">
        <label for="assunto-contato">Assunto</label>
        <input
          class="input-form"
          type="text"
          name="assunto_contato"
          id="assunto-contato"
          minlength="1"
        />
      </div>
      <div class="form-item">
        <label for="mensagem-contato">Mensagem</label>
        <textarea
          class="input-form"
          name="mensagem_contato"
          id="mensagem-contato"
          minlength="1"
        ></textarea>
      </div>
    </div>
  </section>
</main>
